/* general layot */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0;
    background: #f4f4f4;
}
/*navabar*/
nav{
    background: #004080;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
/*container*/
.container {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}
/* form inputs*/
input ,select ,button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border: 4px
}
button{
    background: #004080;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background: #003060;
}
/*seat layot*/
.seat{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: #ccc;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;

}
.seat:hover{
    background: #66cc66;
}

.seat.selected{
    background: #009900;
    color: white;
}
